.App {
    text-align: center;
}
td{
    border-left: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

table {
    height: auto;
    border: black 1px solid;
}